
M2/.idea/.name

M2/.idea/checkstyle-idea.xml

M2/.idea/compiler.xml

M2/.idea/copyright/profiles_settings.xml

M2/.idea/libraries/resources.xml

M2/.idea/misc.xml

M2/.idea/modules.xml

M2/.idea/vcs.xml

M2/.idea/workspace.xml

M2/src/main/main.iml

*.bin

.gradle/2.6/taskArtifacts/cache.properties

.gradle/2.6/taskArtifacts/cache.properties.lock

M2/.gradle/2.6/taskArtifacts/cache.properties

M2/.gradle/2.6/taskArtifacts/cache.properties.lock
